html
	head
		title BPDC Notes - Register
		meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
		link(rel="stylesheet" href="bootstrap/css/bootstrap.css") 
		link(rel="stylesheet" href="styles/style.css")
		link(href="img/LogoBig.png" rel="icon" type="image") 
		link(href="img/LogoBig.png" rel="apple-touch-icon") 
		script(type="text/javascript" src="bootstrap/js/jquery.js") 
		script(type="text/javascript" src="bootstrap/js/bootstrap.js")
		script(type="text/javascript" src="bootstrap/js/typeahead.min.js")
		script(type="text/javascript" src="js/script-form.js")
			
	body
		img(src="img/elements.jpg" class="img-responsive" style="width:100%; height:8px") 
		nav(class="navbar navbar-inverse" role="navigation" style="background: #2a2a2a; padding-top: 15px; border: none; margin-bottom: 30px; padding-right: 10px")
			a(href="/login")
				button(type="button" class="btn btn-primary rf") Login
			a(href="/register")
				button(type="button" class="btn btn-success rf") Register 
			.navbar-header
				a(class="navbar-brand" href="/")
					img(src="img/bitsLight.png" height="50px; text-align:center")
					&nbsp;Click here to go back to BPDC Notes
		.row#loginArea(style="width:100%")
			center
				h1#TheHeading(style="font-family: OL; color: #38BA49; font-size: 50px; opacity:0") Register 
				p#TheTagline.text-center.text-primary(style="font-size: 18px;opacity:0; color:#0099FF;padding:10px;padding-left:20px").
					Register with yor details below. All fields are required.
			br
			.col-md-4
			.col-md-4(style="padding-left:40px")
				form#regform.form-horizontal(method="post" action="/reguser" role="form")
					.form-group
						input#username.form-control(type="text" placeHolder="Full Name" name="registername")
					.form-group
						input#bid.form-control(type="text" placeHolder="BITS ID" name="registerid")
					.form-group
						input#usermail.form-control(type="email" placeHolder="Email ID" name="registeremail")
					.form-group
						input#pass1.form-control(type="password" placeHolder="Password" name="registerpassword")
					.form-group
						input#pass2.form-control(type="password" placeHolder="Password Once More")
					.form-group
						span.instr(style="line-height: 1.2em; padding: 5px 0;color: #676767;").
							Enter your course name below. Take the course from suggestions and press enter.<span>You can only choose from suggestion.</span>
					.form-group
						input#course-input.typeahead.form-control(type="text" placeHolder="Add Courses") 
					.form-group
						center#courses-tr
							h2#TheHeading(style="font-family: OL; color: #38BA49;") Selected Courses
					center 
						.form-group
							button#reg-submit.btn.btn-default(type="submit") Register
			.col-md-4 
			br 
			br 
		.row.myStickyFooter
			center Developed by Dev and Vishnu

